<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
    <meta name="description" content="Blog Posts">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Blog Posts</h1>
      </header>
      <main>
       
        <hr>
        <section>
          <h2>Posts</h2>
          <form id="js-blog-form" action="#">
            <div>
              <label for="blogTitle">Blog title</label>
              <input type="text" name="blogTitle" id="blogTitle" placeholder="blog title">
            </div>
            <div>
              <label for="blogContent">Blog content</label>
              <input type="text" name="blogContent" id="blogContent" placeholder="blog content">
            </div>
            <div>
              <label for="blogAuthor">Blog author</label>
              <input type="text" name="blogAuthor" id="blogAuthor" placeholder="blog author">
            </div>
            <div>
              <label for="blogDate">Blog date</label>
              <input type="text" name="blogDate" id="blogDate" placeholder="blog date">
            </div>                     
            <button type="submit">Add blog</button>
          </form>

          <ul class="blogs js-blogs">
          </ul>
        </section>
      </main>
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
